html {background-color: #A17C8E}
h1 {
  color: navy;
  font-family: Rockwell,Bold;
  text-align: center;
}
h4 {
  color: navy;
  font-family: Rockwell,Bold;
  text-align: center;
}
p{
  color:black;
  font-family: Rockwell,Bold;
  text-align: center;
}
 h6{
  color: black;
  font-family: produkt,regular;
  text-align: center;
}